{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="row cols-1 justify-content-center">
        <div class="col-8">
            {% include "network/post_form.html" %}
            <div id="postsList" class="row cols-1 gy-3 py-3 justify-content-center">
                {% comment %} POSTS GO HERE {% endcomment %}
            </div>
        </div>
    </div>
    <script>
    document.addEventListener("DOMContentLoaded", () => {
        const [currentPage, setCurrentPage] = useState(1);
        loadPosts(currentPage, setCurrentPage);
    });
    </script>
{% endblock %}