{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="row cols-1 justify-content-center">
        <div class="col-8">
            <div class="vstack gap-1 mx-auto text-center">
                <i class="fas fa-user-circle fa-5x"></i>
                <h3>
                {% if object.user.first_name and object.user.last_name %}
                    {{ object.user.first_name }} '{{ object.user.username }}' {{ object.user.last_name }}
                {% else %}
                    {{ object.user.username }}
                {% endif %}
                </h3>
                <div class="hstack gap-3 justify-content-center">
                    <div>
                        <i class="fas fa-users"></i>
                        <span>{{followers|length}} follower{{ followers|length|pluralize }}</span>
                    </div>
                    
                    <div>
                        <i class="fas fa-user-friends"></i>
                        <span>{{follows|length}} following</span>
                    </div>

                    {% if object.user != user %}
                    <button class="btn btn-sm btn-light" id="followBtn" data-action={% if user not in followers %}"follow"{% else %}"unfollow"{% endif %} data-username={{object.user.username}}>
                        {% if user in followers %}
                            <i class="fas fa-user-minus"></i>
                            Unfollow
                        {% else %}
                            <i class="fas fa-user-plus"></i>
                            Follow  
                        {% endif %}                         
                    </button>
                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                            const followBtn = document.getElementById("followBtn");
                            const followListener = followUser;
                            followBtn.addEventListener("click", followListener);
                        })
                    </script>
                    {% endif %}
                </div>
            </div>
            {% if object.user == user %}
                {% include "network/post_form.html" %}
            {% endif %}
            <div id="postsList" class="row cols-1 gy-3 py-3 justify-content-center">
                {% comment %} POSTS COME HERE {% endcomment %}
            </div>
        </div>
    </div>
    <script>
    document.addEventListener("DOMContentLoaded", () => {
        const [currentPage, setCurrentPage] = useState(1);
        loadPosts(currentPage, setCurrentPage, {singleUser: "{{ object.user.username }}"});
    });
    </script>
{% endblock %}